.user-logo{
    border-radius: 50px;
}
#txtarea{
    float: right;
    width:50%;
    display: inline-flex;
    border-radius: 40px;
}
.googlelogo{
    float: right;
    margin-left: 2rem;
}

.top-border{
    border-bottom: 1px solid #dadce0;
}

.top-menu{
    font-size: 14px;
    color: #5f6368;
}

.top-menu:hover{
    cursor:pointer;
}
.cardtxt{
    color: #4d5156;
    font-size: 14px;
}
.cardtitle{
    color: #1a0dab;
    font-size: 20px;
}
.cardlink{
    color: #1a0dab;
    font-size: 14px;
    margin-left: 5px;
}
.mainlinkcard{
    color: #202124;
    font-size: 14px;

}
.footer{
    background-color: #f2f2f2;
}
.fa{
    color: #70757a;
    text-decoration: none;
    font-size: 14px;
}

.fa:hover{
    color: #4d5156;
    cursor: pointer;
}
.bi{
    color: #70757a;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 1rem;
}
@media only screen and (max-width: 550px) {
    .googlelogo {
        display: none;
    }
    #txtarea{
        width: 60%;
    }
}
@media only screen and (max-width: 830px) {
    .bi{
        margin-bottom:2rem
    }
    .tools{
        width: 100%;
        text-align: end;
    }
}