.user-logo{
    border-radius: 50px;
}
#txtarea{
    float: right;
    width:50%;
    display: inline-flex;
    border-radius: 40px;
}
.googlelogo{
    float: right;
    margin-left: 2rem;
}

.top-border{
    border-bottom: 1px solid #dadce0;
}

.top-menu{
    font-size: 14px;
    color: #5f6368;
}

.top-menu:hover{
    cursor:pointer;
}
.cardtxt{
    color: #4d5156;
    font-size: 14px;
}
.cardtitle{
    color: #1a0dab;
    font-size: 20px;
}
.cardlink{
    color: #1a0dab;
    font-size: 14px;
    margin-left: 5px;
}
.mainlinkcard{
    color: #202124;
    font-size: 14px;

}
@media only screen and (max-width: 550px) {
    .googlelogo {
        display: none;
    }
    #txtarea{
        width: 60%;
    }
}