

*{
    margin:0;
    font-family: 'Hind Siliguri', sans-serif;}

span {
    margin:auto 0.5rem;
    top: 0;

}
.top-bar{
    margin:1rem;
}
.top-bar-text{
    vertical-align: super;
    font-size: 14px;

}
.input{
    vertical-align: super;

}

.logo{
    padding-top: 5rem;
    justify-content: center;
    display: flex;
}
.search{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.search-row{
    border: 1px solid #dfe1e5;
    padding: 10px;
    border-radius: 50px;
}
input{
    width: 25rem;
    border-color: white;
    color: black;
    border-width: 0;
}
input[type=text]:focus {
    border-width: 0;
    border-style: none;
}
.user-logo{
    border-radius: 50px;
}
.search-buttons{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

button{
    height: 2rem;
    margin: 1rem 1rem 0;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    padding: 0 14px;
    font-size: 14px;
    border-radius: 5px;

}
button:hover{
    color: black;
    cursor: pointer;
    border-color: lightgrey;
}
.google-available{
    display: flex;
    justify-content: center;
    color: #4d5156;
    font-size: 13px;
}
.language{
    color: blue;
}
.language:hover{
    text-decoration: underline;
    cursor:pointer;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
    color: #70757a;
    font-size: 15px;
}
.upper{
    border-bottom: 1px solid #dadce0;
}
.upper-list{
    margin: 1rem;
}
.upper-item{
    float: right;
}
.lower-list{
    margin: 1rem;
}
.right{
    float: right;
}
.left{

    float:left;
}
.lower-list > span:hover{
    cursor: pointer;
    text-decoration: underline;
}
.middle{
    display: flex;
    justify-content: center;
    padding: 1rem
}
.middle:hover{
    cursor: pointer;
    text-decoration: underline;
}